body{
    font-family: 'Ubuntu', sans-serif;
    margin: 0px;
}

header{
    background-color: #f8f8f8;
    padding: 50px;
}


.title-container{
    margin: 0px auto;;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 600px;
}
 
.title-container div h1{
   margin: 0px;
   color: #143774;
   font-family: 'Lora', serif;
   font-size: 1.7rem;
}

.title-container div p{
    color: #1792d2;
    margin: 0px;
    text-align: center;
    text-justify: inter;
    font-size: 1rem;
    font-weight: bold;
    padding: 0.3em 0 0 0;
}

nav ul{
   list-style-type: none;
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 1.2em 0 0 0;
}

nav ul li a{
   color: #707070;
   text-decoration: none;
   font-weight: bold;
   
}

nav ul li a:hover{
   text-decoration: underline;
   text-decoration-thickness: 2px;
}

nav{
   width: 100%;
   margin: 0px;
}


@media (max-width: 400px){
    .title-container{
        width: 300px;
    }
    nav ul{
        flex-direction: column;
    }
    nav ul li {
        padding: 0.3em;
    }
}
    
